html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: url("images/Ellipse.png") 323px 152.24px no-repeat, url("images/Rectangle.png") 294px 118px no-repeat;
}

header {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 24px 0;
}

#logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin: 0;
  padding-left: 24px;
}

.navbar > .menu-icon {
  padding-right: 24px;
}

.headline {
  display: flex;
  flex-direction: column;
}

h1 {
  position: static;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 114px 24px 0 24px;
}

.subtitle {
  position: static;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.connect-link {
  position: static;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.social {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin-left: 24px;
}

ul {
  list-style-type: none;
}

.social > li {
  margin-right: 20px;
}

.works {
  display: grid;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  box-sizing: border-box;
  margin: 88px 24px 88px 24px;
}

.work-img {
  margin: 16px 16px 0 16px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 16px 0 16px;
}

.work-information {
  display: flex;
  padding: 0;
  margin: 20px 0 0 10px;
}

.work-information > li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin: 0 6px 0 6px;
}

.canopy {
  color: #344563 !important;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
  display: inline-block;
}

.work-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 20px 16px 0 16px;
}

.work-tags {
  display: flex;
  padding: 0;
  margin: 12px 0 0 12px;
}

.work-tags > li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  border-radius: 8px;
  background: #ebebff;
  margin: 0 4px;
  align-items: center;
  padding: 4px 12px;
  letter-spacing: 0.03em;
}

.work-btn {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  letter-spacing: 0.03em;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 12px;
  margin: 24px 182px 28px 16px;
}

#about {
  padding-top: 114px;
}

.about-btn {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  letter-spacing: 0.03em;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 12px;
  margin: 22px 0 0 24px;
}

.tech-list {
  display: grid;
  margin: 0;
  padding: 0;
}

.tech-title {
  margin: 24px 36px 23px 36px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech-title > p {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.arrow-opened {
  margin-right: 28px;
}

.arrow-closed {
  margin-right: 30px;
}

.division-bar {
  margin: 0 24px 0 24px;
}

#last-bar {
  margin-bottom: 113.85px;
}

.languages-list {
  flex: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.languages-list > div {
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 6px 36px;
}

.languages-item {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.languages-item > img {
  padding: 9px 0 9.72px 12px;
}

.languages-item > p {
  margin-left: 16px;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}
