html {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.app-wrap {
  width: 375px;
  height: 718px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.app-wrap > * {
  flex: 1 1 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 136px;
}

.my-logo {
  position: static;
  padding-left: 24px;
  top: 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6070FF;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.menu {
    
}

.headline-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  position: static;
  width: 327px;
  height: 150px;
  padding-left: 24px;
  padding-top: 70px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;

  color: #172B4D;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}

h2 {
  position: static;
  width: 327px;
  height: 146px;
  padding-left: 24px;
  padding-top: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #344563;


  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px;
}

h3 {
  position: static;
  width: 117px;
  height: 24px;
  padding-left: 24px;
  padding-top: 12px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #7F8CFF;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px ;
}